.header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px; 
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 60px;
  margin-bottom: 25px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

.nav-links {
  display: flex;
  gap: 25px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 17px;
}

.nav-links a:hover {
  color: #4a90e2;
}

.login-btn {
  padding: 8px 18px;
  background-color: #6c97f3;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #6c97f3;
}

.phone {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2563eb;
  font-weight: 500;
}

.phone-icon {
  font-size: 18px;
}
/* .logo {
  margin-right: 350px;
  
} */
