.header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 7px #f8f9fa;
  height: 90px;
  position: relative;
  z-index: 1000;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1334px;
  margin: 0 auto;
  padding: 21px;
  margin: 0 auto;
  padding: 21px;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 43px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  font-size: 187x;
  font-weight: 500;
  color: #111;
  text-decoration: none;
}

.nav-links a.active {
  color: #4a90e2;
  padding-bottom: 4px;
}

.nav-links a:hover {
  color: #4a90e2;
  border-bottom: 2px solid #4a90e2;
}

.phone {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 21px;
  font-weight: 500;
  color: #4a90e2;
}
.phone .phoneno {
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.phone .whatsapp-icon {
  color: #4a90e2;
  font-size: 21px;
}

.login-btn {
  padding: 8px 20px;
  font-size: 14px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background: #4a90e2;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-right {
    position: absolute;
    top: 90px;
    right: 0;
    width: 240px;
    background: white;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: none;
  }

  .nav-right.active {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
  }

  .phone {
    justify-content: flex-start;
  }
}


@media (max-width: 360px) {

  .navbar {
    padding: 15px;
  }

  .nav-right {
    width: 200px;
  }

  .nav-links a {
    font-size: 14px;
  }

  .login-btn {
    width: 100%;
  }
}
