.overall {
  display: flex;
  gap: 100px;
  margin-left: 60px;
  margin-top: 80px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  gap: 60px;
}

.form {
  max-width: 800px;
  margin-left: 100px;
}

.care {
  padding: 40px;
  width: 100%;
}

.form-heading {
  font-size: 90px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 12px;
  letter-spacing: normal;
  letter-spacing: -0.5px;
  line-height: 1.15;
}

.form-subtext {
  font-size: 19px;
  color: #5d5d5d;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-top: 19px;
}

.care-form {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  color: #000000;
  font-weight: 400;
  gap: 14px;
}
.care-form input::placeholder {
  color: #3e3e3e;
  font-size: 16px;
}

.care-form > input {
  padding: 18px 20px;
  font-size: 14px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  outline: none;
}

.phone-field {
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
}

.country-code {
  padding: 14px 12px;
  font-size: 14px;
  background: #f9fafb;
  border-right: 1px solid #e5e7eb;
}

.phone-field input {
  border: 0 !important;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

.checkbox {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-top: 6px;
}

.checkbox a {
  color: #4f8df6;
  text-decoration: underline;
}

.submit-btn {
  margin-top: 12px;
  padding: 14px;
  background-color: #4f8df6;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #3f7de0;
}

.care-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 40px;
}

.care-container {
  position: relative;
  width: 360px;
  height: 520px;
}

.image {
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
}

.image-one {
  top: -25px;
  left: 20px;
  width: 270px;
  height: 380px;
}

.image-two {
  top: 250px;
  left: 250px;

  width: 270px;
  height: 380px;

  border-radius: 20px;
  overflow: hidden;
}
.info-card {
  position: absolute;
  margin-left: 2px;
  margin-right: 2px;
  background: white;
  padding: 14px 28px;
  border-radius: 14px;
  width: 200px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}
.info-card1 {
  position: absolute;
  margin-left: 440px;
  margin-right: 20px;
  margin-top: 100px;
  height: 53.6;
  width: 53.6;
  background: #4a90e2;
  padding: 14px 16px;
  border-radius: 14px;
  color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.info-card2 {
  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 350px;
  height: 53.6;
  width: 53.6;
  background: #4a90e2;
  padding: 14px 16px;
  border-radius: 14px;
  color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.icon {
  width: 40px;
  height: 25px;
}

.info-card h4 {
  margin: 0 0 3px;
  font-size: 16px;
}

.info-card p {
  margin: 0;
  font-size: 13px;
  color: #555;
}

.top-card {
  top: 10px;
  right: -110px;
}

.bottom-card {
  bottom: 30px;
  right: 80px;
}

.center-icon {
  position: absolute;
  top: 42%;
  left: 65%;
  z-index: 5;
  background: #fb923c;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  padding: 12px;
  border-radius: 50%;
  border: 9px solid #ffffff;
}
.image img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
}
