.goal-section {
  width: 100%;
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("/goal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.goal-overlay {
  width: 100%;
  text-align: center;
}


.goal-title {
  font-size: 55px;
  color: white;
  margin-bottom: 60px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}


.ciclegoals {
  display: flex;
  justify-content: center;
  gap: 120px;
}


.goal-overlay .goals {
  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 14px;
}


.smallcircle,
.smallcircle1,
.smallcircle2 {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.smallcircle img,
.smallcircle1 img,
.smallcircle2 img {
  object-fit: contain;
}


.small-headings {
  display: flex;
  justify-content: center;
}


.form-heading {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  line-height: 19.2px;
  margin: 0;
}
