.que-wrapper {
  padding: 60px 120px;
  background: #F3F6FB;
}

.que-heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.que-paragraph {
  font-size: 16px;
  color: #343434;
  line-height: 1.6;
  font-weight: 500;
}

.faq-container {
    margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 14px; 
}

.faq-item {
  background: #ffffff;
  padding: 16px 18px;
  border-radius: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.faq-answer {
  margin-top: 10px;
  color: #555;
  line-height: 1.5;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 2;
    transform: translateY(0);
  }
} 

@media (max-width: 1024px) {
  .que-wrapper {
    padding: 50px 60px;
  }

  .que-heading {
    font-size: 32px;
  }
}


@media (max-width: 768px) {

  .que-wrapper {
    padding: 40px 25px;
  }

  .que-heading {
    font-size: 26px;
  }

  .que-paragraph {
    font-size: 15px;
  }

  .faq-item {
    padding: 14px 16px;
  }
}



@media (max-width: 360px) {

  .que-wrapper {
    padding: 30px 15px;  
  }

  .que-heading {
    font-size: 22px;
    line-height: 1.3;
  }

  .que-paragraph {
    font-size: 14px;
  }

  .faq-question {
    font-size: 14px;
  }

  .faq-answer {
    font-size: 13px;
  }

  .faq-item {
    padding: 12px 14px;
    border-radius: 8px;
  }
}