.que-wrapper {
  padding: 51px 173px;
  background: #F3F6FB;
}

.que-heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.que-paragraph {
  font-size: 16px;
  color: #343434;
  line-height: 1.6;
  font-weight: 500;
}

.faq-container {
    margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 14px; /* space between each question box */
}

.faq-item {
  background: #ffffff;
  padding: 16px 18px;
  border-radius: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.faq-answer {
  margin-top: 10px;
  color: #555;
  line-height: 1.5;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 2;
    transform: translateY(0);
  }
} 
